{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}

{{block.super}}


<!-- Landing Page -->
<body id="bodyimage">
    <div class="  banner text-center">
        <div class="header">
            <div class="container image">
                <h1>My Hood, where you get anything you want in this environ</h1>
                <h3 id="category">Check out and look for any service required</h3>
        
            </div>
            

            </div>
        </div>
    </div>

    <div class="container-fluid ml-5 pl-5">

    

        <hr>
        <div class="row">
            {% for hood in hood %}

            <div class="colum-md-4 my-2 ml-5"> 
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{hood.name}}</h5>
                  <img src="{{hood.photo.url}}" alt="image" class="card-image">
                  <p class="card-text">{{hood.count}} </p>
                  <p class="card-text">{{hood.created_by}} </p>

                </div>
              </div>
    
            </div>
            {% endfor %}

        </div>
       
    
   
   

    </div>
</body>    
{% endblock %}