{% extends 'base.html' %}
{% load static%}
{% load bootstrap4 %}
{% block content %}


{{block.super}}

<div class="banner-1">
    <div class="cover-1">
            {% if posts %}
            <h2 class="text-center">Found {{ results.count|length }} Business{{ results.count|pluralize }}</h2>
            {% else %}
            <h2 class="text-center"> Found 0 business with that username <strong>{{message}}</strong></h2>

             {% if results %}
            {% for hood  in results %}
            <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{hood.name|title}}</a>
              <p>{{ hood.description }}</p>
             <img src="{{hood.photo.url}}" class="img-responsive" alt="Image" class="card-img" width="200px" height="150px">

            <hr>
            <p class="card-text "><img src="{{hood.user.profile.profile_photo.url}}" class="nav-img mr-2" alt="">
                By {{hood.user.username|title}} <span style="float:right">{{post.date|date}}</span>
            </p>
          </div>
        </article>
        {% endfor %}
            {% endif %}
            </div>
            </div>
  {% endif %}
    {%endblock%}